[Unit]
Description=gunicorn daemon for Kittygram
After=network.target

[Service]
User=mishgan325
Group=www-data
WorkingDirectory=/home/mishgan325/infra_sprint1/backend/
ExecStart=/home/mishgan325/infra_sprint1/venv/bin/gunicorn --bind 0.0.0.0:8000 kittygram_backend.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target

